<?xml version="1.0" ?>

<launch>


	<arg name="model" />
	<param name="robot_description" command="$(find xacro)/xacro $(find exercise_7)/urdf/ex_7.xacro" />
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
	<!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>-->
	<remap from="joint_states" to="/sim_ros_interface/joint_states" />
	</node>
	
	<node pkg="exercise_7" name="pan_control" type="pan_control" output="screen">

		<param name="left_lim" value="1.2" />
		<param name="right_lim" value="-1.2" />

	</node>

</launch>
