<?xml version="1.0"?>

<robot name="robot_7" xmlns:xacro="http://wiki.ros.org/xacro">
    
	<!-- some constants -->

  <xacro:property name="max_effort" value="300"/>
  <xacro:property name="max_velocity" value="10"/>
  <xacro:property name="PI" value="3.14"/>	

<xacro:include filename="$(find exercise_7)/urdf/ex_7_macro.xacro" />
	
	
		<xacro:base_link_macro 
			base_link_name="base_link">
		</xacro:base_link_macro>
		
	<xacro:exercise_7_joint
			name="Joint_1"
			type="revolute"
			parent="base_link"
			child="link_1">
			<origin xyz="0 0 0.15"/>
			<axis xyz="0 0 1"/>
			<limit effort="${max_effort}" velocity="${max_velocity}" lower="${-170 * PI / 180}" upper="${170 * PI / 180}"/>
	</xacro:exercise_7_joint>

	<xacro:exercise_7_link name="link_1">
			
		<origin xyz="0 -0.03 0.12" rpy="0 0 0"/>
		<mass value="3.4525"/>
		<inertia ixx="0.02183"  ixy="0"  ixz="0" iyy="0.007703" iyz="-0.003887" izz="0.02083" />

		<origin xyz="0 0 0.0075" rpy="0 0 0"/>		
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/visual/link_1.stl"/>
		</geometry>
		<material name="blue">
			<color rgba="0 0 1 1"/>
		</material>	
		
		<origin xyz="0 0 0.0075" rpy="0 0 0"/>	
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/collision/link_1.stl"/>
		</geometry>

	</xacro:exercise_7_link>

	<xacro:exercise_7_joint
			name="Joint_2"
			type="revolute"
			parent="link_1"
			child="link_2">
			<origin xyz="0 0 0.19" rpy="${PI / 2}   0 ${PI}"/>
			<axis xyz="0 0 1"/>
			<limit effort="${max_effort}" velocity="${max_velocity}" lower="${-120 * PI / 180}" upper="${120 * PI / 180}"/>
	</xacro:exercise_7_joint>

	<xacro:exercise_7_link name="link_2">
			
		<origin xyz="0.0003 0.059 0.042" rpy="0 0 0"/>
		<mass value="3.4821"/>
		<inertia ixx="0.02076"  ixy="0"  ixz="-0.003626" iyy="0.02179" iyz="0" izz="0.00779" />

		<origin xyz="0 0 0" rpy="0 0 0"/>		
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/visual/link_2.stl"/>
		</geometry>
		<material name="red">
			<color rgba="1 0 0 1"/>
		</material>	
		
		<origin xyz="0 0 0" rpy="0 0 0"/>	
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/collision/link_2.stl"/>
		</geometry>

	</xacro:exercise_7_link>

	<xacro:exercise_7_joint
			name="Joint_3"
			type="revolute"
			parent="link_2"
			child="link_3">
			<origin xyz="0 0.21 0" rpy="${PI / 2} 0 ${PI}"/>
			<axis xyz="0 0 1"/>
			<limit effort="${max_effort}" velocity="${max_velocity}" lower="${-170 * PI / 180}" upper="${170 * PI / 180}"/>
	</xacro:exercise_7_joint>

	<xacro:exercise_7_link name="link_3">
			
		<origin xyz="0 0.03 0.13" rpy="0 0 0"/>
		<mass value="4.05623"/>
		<inertia ixx="0.03204"  ixy="0"  ixz="0" iyy="0.00972" iyz="0.006227" izz="0.03042" />

		<origin xyz="0 0 -0.026" rpy="0 0 0"/>		
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/visual/link_3.stl"/>
		</geometry>
		<material name="blue">
			<color rgba="0 0 1 1"/>
		</material>	
		
		<origin xyz="0 0 -0.026" rpy="0 0 0"/>	
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/collision/link_3.stl"/>
		</geometry>

	</xacro:exercise_7_link>

	<xacro:exercise_7_joint
			name="Joint_4"
			type="revolute"
			parent="link_3"
			child="link_4">
			<origin xyz="0 0 0.19" rpy="${PI / 2} 0 0"/>
			<axis xyz="0 0 1"/>
			<limit effort="${max_effort}" velocity="${max_velocity}" lower="${-120 * PI / 180}" upper="${120 * PI / 180}"/>
	</xacro:exercise_7_joint>

	<xacro:exercise_7_link name="link_4">
			
		<origin xyz="0 0.067 0.034" rpy="0 0 0"/>
		<mass value="3.4822"/>
		<inertia ixx="0.02178"  ixy="0"  ixz="0" iyy="0.02075" iyz="-0.003625" izz="0.007785" />

		<origin xyz="0 0 0" rpy="0 0 0"/>		
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/visual/link_4.stl"/>
		</geometry>
		<material name="red">
			<color rgba="1 0 0 1"/>
		</material>	
		
		<origin xyz="0 0 0" rpy="0 0 0"/>	
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/collision/link_4.stl"/>
		</geometry>

	</xacro:exercise_7_link>

	<xacro:exercise_7_joint
			name="Joint_5"
			type="revolute"
			parent="link_4"
			child="link_5">
			<origin xyz="0 0.21 0" rpy="${-PI / 2} ${PI} 0"/>
			<axis xyz="0 0 1"/>
			<limit effort="${max_effort}" velocity="${max_velocity}" lower="${-170 * PI / 180}" upper="${170 * PI / 180}"/>
	</xacro:exercise_7_joint>

	<xacro:exercise_7_link name="link_5">
			
		<origin xyz="0.0001 0.021 0.076" rpy="0 0 0"/>
		<mass value="2.1633"/>
		<inertia ixx="0.01287"  ixy="0"  ixz="0" iyy="0.005708" iyz="-0.003946" izz="0.01112"/>

		<origin xyz="0 0 -0.026" rpy="0 0 0"/>		
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/visual/link_5.stl"/>
		</geometry>
		<material name="blue">
			<color rgba="0 0 1 1"/>
		</material>	
		
		<origin xyz="0 0 -0.026" rpy="0 0 0"/>	
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/collision/link_5.stl"/>
		</geometry>

	</xacro:exercise_7_link>

	<xacro:exercise_7_joint
			name="Joint_6"
			type="revolute"
			parent="link_5"
			child="link_6">
			<origin xyz="0 0.06070 0.19" rpy="${PI / 2} 0 0"/>
			<axis xyz="0 0 1"/>
			<limit effort="${max_effort}" velocity="${max_velocity}" lower="${-120 * PI / 180}" upper="${120 * PI / 180}"/>
	</xacro:exercise_7_joint>

	<xacro:exercise_7_link name="link_6">
			
		<origin xyz="0 0.0006 0.0004" rpy="0 0 0"/>
		<mass value="2.3466"/>
		<inertia ixx="0.006509"  ixy="0"  ixz="0" iyy="0.006259" iyz="0.00031891" izz="0.004527"/>

		<origin xyz="0 0 0" rpy="0 0 0"/>		
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/visual/link_6.stl"/>
		</geometry>
		<material name="red">
			<color rgba="1 0 0 1"/>
		</material>	
		
		<origin xyz="0 0 0" rpy="0 0 0"/>	
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/collision/link_6.stl"/>
		</geometry>

	</xacro:exercise_7_link>

	<xacro:exercise_7_joint
			name="Joint_7"
			type="revolute"
			parent="link_6"
			child="link_7">
			<origin xyz="0 0.081 0.06070" rpy="${- PI / 2} ${PI} 0"/>
			<axis xyz="0 0 1"/>
			<limit effort="${max_effort}" velocity="${max_velocity}" lower="${-175 * PI / 180}" upper="${175 * PI / 180}"/>
	</xacro:exercise_7_joint>

	<xacro:exercise_7_link name="link_7">
			
		<origin xyz="0 0 0.02" rpy="0 0 0"/>
		<mass value="3.129"/>
		<inertia ixx="0.01464"  ixy="0.0005912"  ixz="0" iyy="0.01465" iyz="0" izz="0.002872"/>

		<origin xyz="0 0 -0.0005" rpy="0 0 0"/>		
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/visual/link_7.stl"/>
		</geometry>
		<material name="white">
			<color rgba="1 1 1 1"/>
		</material>	
		
		<origin xyz="0 0 -0.0005" rpy="0 0 0"/>	
		<geometry>
			<mesh filename="package://exercise_7/meshes/iiwa7/collision/link_7.stl"/>
		</geometry>

	</xacro:exercise_7_link>



	

</robot>
